.links{
    position: relative;
    top: 0px;
    height: 100%;
    width: 50px;
    display: inline-block;
    text-align: center;
}
@media (max-width:655px) {
  .secBar a{
    font-size: 3vw;
    padding: 4px;
  }

.secBar div{
  margin: 0;
}
.header1 img{
  height: 45px;
}
.header1{
  padding: 25px 13px 0px 0px;
}
}

.button1 {
  display: inline-block;
  /* padding: 1em;margin: 1em; */
  text-decoration: none;
  color: black;
  background-image: linear-gradient(black, black);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.button1:hover {
  background-size: 100% 5px, auto;
  color: black;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .width250{
      width: 200px;
  }
  .width0{
      width: 0;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }